@import './mixin';
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#root {
	font-family: 'Shantell Sans', cursive;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: 'BNCE' 0, 'INFM' 0, 'SPAC' 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 30px;
	padding: 50px;
	margin: 100px auto;
	border-radius: 30px;
	position: relative;
	@include tablets {
		width: 100%;
		height: 100%;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin: 0;
		padding-top: 15px;
		background-color: transparent;
	}
	@include phones {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 100px;
	}
}
.progress {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 400px;
	height: 250px;
	& img {
		width: 100%;
	}

	@include tablets {
		width: 250px;
		height: 170px;
	}
}
.field {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 40px;

	@include tablets {
		gap: 15px;
	}

	&__word {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		&_category {
			color: green;
			font-size: 34px;
			letter-spacing: 1rem;
		}
		&_hidden {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			gap: 10px;
			&_item {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				gap: 15px;
				color: blue;
				font-size: 45px;
				padding: 15px;
				&-word {
					padding: 5px;
					border-bottom: 1px solid black;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
				}
				@include tablets {
					font-size: 24px;
					gap: 10px;
				}
			}
		}
	}
	&__progress {
		width: 150px;
		color: red;
		text-align: center;

		@include tablets {
			display: none;
		}
	}
	&__alphabet {
		width: 650px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		gap: 18px;
		font-size: 32px;
		padding: 10px;

		@include tablets {
			width: 370px;
			font-size: 24px;
			gap: 5px;
			padding: 0;
		}

		&_item {
			border: 1px solid;
			border-top: none;
			border-left: none;
			border-right: none;
			border-radius: 0% 0% 40% 10%;
			// border: 1px solid #000;
			// border-radius: 8px;
			cursor: pointer;
			pointer-events: none;
			padding: 5px 10px;

			@include tablets {
				padding: 5px 10px;
				// border: none;
			}
		}
	}
	&__button {
		width: 55px;
		height: 55px;
		background: transparent;
		border: none;
		& img {
			cursor: pointer;
			width: 100%;
		}
		@include tablets {
			width: 24px;
			height: 24px;
		}
	}
}

// SELECT

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: #5c6664;
	background-image: none;
	flex: 1;
	padding: 0 0.5em;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;

	&::-ms-expand {
		display: none;
	}
}
.select {
	position: relative;
	display: flex;
	width: 20em;
	height: 3em;
	line-height: 3;
	background: #5c6664;
	overflow: hidden;
	padding-left: 10px;
	border-radius: 0.25em;

	&::after {
		content: '\25BC';
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 1em;
		background: #2b2e2e;
		cursor: pointer;
		pointer-events: none;
		transition: 0.25s all ease;
	}
	&:hover::after {
		color: #23b499;
	}
}

// SELECT
.hidden {
	color: transparent;
}
.visible {
	color: red;
}
.correct {
	background-image: url('./assets/yes.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	color: black;
}
.incorrect {
	background-image: url('./assets/no.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	color: black;
	cursor: not-allowed;
	pointer-events: none;
}
.check {
	color: red;
	letter-spacing: 1rem;
}
.play {
	pointer-events: all;
}
.defeat {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	color: red;
	&__word {
		font-size: 50px;
		letter-spacing: 0.6rem;
		gap: 30px;
	}
	&__content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 300px;
		height: 300px;
		display: flex;
		& img {
			width: 100%;
		}
	}
}
.win {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	color: green;
	&__word {
		font-size: 50px;
		letter-spacing: 0.6rem;
		gap: 30px;
	}
	&__content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 300px;
		height: 300px;
		display: flex;
		& img {
			width: 100%;
		}
	}
}

.game_over {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	padding: 10px;

	&-buttons {
		font-size: 1em;
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&-btn {
		font-size: 12px;
		// width: 24px;
		// height: 24px;
		cursor: pointer;

		& img {
			width: 100%;
		}
	}
}
.start {
	font-family: 'Shantell Sans', cursive;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: 'BNCE' 0, 'INFM' 0, 'SPAC' 0;
	background: transparent;
	text-transform: uppercase;
	color: #000;
	font-size: 16px;
	border: 1px solid;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0% 23% 40% 23%;
	margin-top: 50px;
	padding: 10px;
}
.count {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 50px;
	&-win {
		font-family: 'Montserrat', sans-serif;
		color: green;
	}
	&-defeat {
		font-family: 'Montserrat', sans-serif;
		color: red;
	}
	& span {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: 10px;
		& img {
			width: 42px;
			height: 42px;

			@include phones {
				width: 24px;
				height: 24px;
			}
			@include tablets {
				width: 24px;
				height: 24px;
			}
		}
	}
}
